<footer>
    <h1>Outside The Frame</h1>
    <h2>Tom Caraher</h2>
    <nav class="footer">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Contact</a>
    </nav>
    <p>&copy; 2024 Tom Caraher</p>
  </footer>