<footer class="flex flex--between">
    <div class="footer__info">
        <p class="footer__info--tile">Outside The Frame</p>
        <p class="footer__info--copyright">&copy; 2024 Tom Caraher</p>
    </div>
    <div class="footer__links">
    <a href="https://tomcaraher.dev">Software Development Blog</a>
    <a href="https://tomcaraher.com">I'm also a musician</a>
    <a href="https://github.com/tcaraher">GitHub</a>
    </div>
  </footer>