<footer class="flex flex--between">
    <div class="footer__info">
        <p class="footer__info--tile">Outside The Frame</p>
        <a href="mailto:info@tomcaraher.com" class="text_small">Contact</a>
        <p class="text_small">&copy; 2024 Tom Caraher</p>
    </div>
    <div class="footer__links">
        <a href="https://tomcaraher.dev">Software Development Blog</a>
        <a href="https://tomcaraher.com">I'm also a musician</a>
        <a href="https://github.com/tcaraher">GitHub</a>
    </div>
</footer>