<div class="gallery grid--auto">
        {% for image in gallery %}
        {%- if image.homePage === true %}
            <div class="photo-block">
                <a
                    href="{{ image.tag }}/{{ image.title | slug }}"
                    aria-label="Gallery image {{ image.title }}"
                >
                {% img
                    src=image.src,
                    alt=image.alt,
                    className="photo-block__img",
                    sizes="(max-width: 480px) 40vw, (min-width: 800px) 50vw, (min-width: 2000px) 50vw"
                %}
                </a>
                <div class="photo-block__info">
                    <p>{{ image.date }}</p>
                    <h2 class="photo-block__title"><a href="{{ image.tag }}/{{ image.title | slug }}">{{ image.title }}</a></h2>
                </div>
            </div>
        {%- endif -%}
        {% endfor %}
</div>