<div class="gallery grid--auto">
    {% for image in gallery %}
        {%- if image.tag == slugPrefix %}
            <div class="gallery__photo-block flex--col flex">
                <a
                        href="/{{ slugPrefix }}/{{ image.title | slug }}"
                        aria-label="Gallery image {{ image.title }}"
                >
                    {% img
                        src=image.src,
                        alt=image.alt,
                        className="gallery__img",
                        sizes="(max-width: 480px) 33.3vw, (min-width:800px) 33vw, (min-width: 1440px) 33vw, 33.3vw" %}
                </a>
                <div class="photo-block__info">
                    <p>{{ image.date }}</p>
                    <h2><a class="underline" href="/{{ slugPrefix }}/{{ image.title | slug }}">{{ image.title }}</a>
                    </h2>
                </div>
            </div>
        {%- endif -%}
    {% endfor %}
</div>