header {
    position: sticky;
    height: var(--headerHeight);
    background: var(--background);
    box-shadow: var(--level-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--containerPadding);
}

@media (prefers-color-scheme: dark) {
    header {
        box-shadow: var(--level-2-dark);
        background: var(--secondaryBackground);
    }
}

ul#menu li {
    display: inline;
    padding: 0 1em;
}

ul#menu a {
    text-decoration: none;
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
    }
}

.header__nav--text {
    color: var(--textColor);
    text-decoration: none;
}

.header__text--heading {
    font-size: var(--h3);
    text-decoration: none;
    color: var(--textColor);
}

.active {
    border-bottom: solid 2px var(--attention);

}

@media (max-width: 900px) {
    header {
        flex-direction: column;
    }

}