@import url("normalize.css");
@import url("typography.css");
@import url("colors.css");
@import url("elevations.css");
@import url("layout.css");
@import url("grid.css");
@import url("image.css");
@import url("nav.css");

html,body {
    height: 100%;
}

html {
    font-size: var(--baseFontSize);
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFontFamily);
    font-weight: 400;
    line-height: 1.65;
    color: var(--textColor);
    background: var(--background);
    display: flex;
    flex-direction: column;
}

header {
    /* --headerBkg: var(--darkBlue); */
    /* color: white; */
    height: var(--headerHeight);
    background: var(--secondaryBackground);
    box-shadow: var(--box-shadow);
    /*border-bottom: solid 0.5px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--containerPadding);
}



main {
    padding: calc(var(--headerHeight) + 3rem) 3em;
    flex: 1 0 auto;
}

article {
    margin: 0 auto;
}

footer {
    flex-shrink: 0;
    --footerTextColor: var(--lightGrey);
    color: var(--footerTextColor);
    background: var(--secondaryBackground);
    padding: 2rem var(--containerPadding);
}

/*footer a {*/
/*    color: var(--footerTextColor);*/
/*}*/

footer p {
    margin-bottom: 0;
    max-width: none;
}

.footer__info--tile {
    margin: 0 auto;
    font-size: var(--h4);
}

.footer__info--copyright {
    font-size: var(--smallText);
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.15rem;
    max-width: 40em;
}

a {
    color: var(--textColor);
}

p a,
blockquote a {
    color: var(--textColor);
    text-decoration: none;
    border-bottom: solid 2px var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headingFontFamily);
    font-weight: 400;
    line-height: 1.15;
}


small,
.text_small {
    font-size: var(--smallText);
}

blockquote {
    margin: 10px;
    padding: 2em;
    background: var(--background);
    box-shadow: var(--level-3);
}

label {
    display: block;
    font-size: var(--smallText);
}

input,
textarea {
    border: var(--line);
    border-radius: 4px;
    padding: 2px 5px;
}

::placeholder {
    color: var(--grey);
}

textarea {
    width: 100%;
}

select {
    border: var(--line);
}

hr {
    border-top: var(--line);
}

button {
    --buttonColor: var(--primary);
    appearance: none;
    background-color: var(--buttonColor);
    color: var(--textColor);
    border-radius: 10px;
    border: none;
    padding: 5px 25px;
    box-shadow: var(--level-1);
    transition: 0.2s ease-in-out box-shadow;
}

button:hover {
    box-shadow: var(--level-2);
}

button[disabled] {
    opacity: 0.4;
}

button.cancel {
    --buttonColor: var(--danger);
    --textColor: white;
}

button.small {
    font-size: var(--smallText);
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.3rem;
}

.layout {
    /*Top padding is whatever we want plus our headerHeight*/
    padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
}



.grid {
    --gridCols: 2;
    display: block;
    grid-template-columns: repeat(var(--gridCols), 1fr);
}

.cols-3 {
    --gridCols: 3;
}


.fake-logo {
    font-size: var(--baseFontSize);
    margin: 0;
}

/*Hero styles*/
.hero-container {
    margin: 0 auto var(--headerHeight);
    border: solid 0.5px var(--secondaryTextColor) ;
    text-align: center;
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: var(--secondaryBackground) ;*/
}

.hero-container__heading {
    margin: 0;
    font-size: var(--h1xl);
}

.hero-container__subheading {
    font-size: var(--h4);
    margin: 0.5rem 0;
    color: var(--secondaryTextColor);
}


.genre-content {
    text-align: center;
    height: 20rem;
    width: 80vw;
    margin: 0 auto;
}

.genre-content__heading {
    font-size: var(--h2);
}

.genre-content__quote {
    font-size: var(--h4);
    font-style: italic;
    color: var(--secondaryTextColor);
}