@import url("typography.css");
@import url("colors.css");
@import url("elevations.css");
@import url("./utilities/layouts.css");
@import url("photos.css");
@import url("./partials/header.css");
@import url("./partials/footer.css");

html, body {
    height: 100%;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bodyFontFamily);
    font-weight: 400;
    line-height: 1.65;
    color: var(--textColor);
    background: var(--background);
    display: flex;
    flex-direction: column;
    font-size: var(--baseFontSize);

}

main {
    padding: calc(var(--headerHeight) + 3rem) 3em;
    flex: 1 0 auto;
}

@media screen and (max-width: 900px) {
    main {
        padding: calc(var(--headerHeight) + 3rem) 0;
    }
}

article {
    margin: 0 auto;
    padding: 0 2rem;
}

ul {
    padding-inline-start: 0;
}

/*Hero styles*/

.hero-container {
    margin: 0 auto var(--headerHeight);
    border: solid 0.5px var(--secondaryTextColor);
    text-align: center;
    min-height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: var(--secondaryBackground) ;*/
}

.hero-container__heading {
    margin: 0;
    font-size: var(--h1xl);
}

.hero-container__subheading {
    font-size: var(--h4);
    margin: 0.5rem 0;
    color: var(--secondaryTextColor);
}

/*Genre/tag page styles*/

.genre-content {
    text-align: center;
    height: 20rem;
    width: 80vw;
    margin: 0 auto;
}

.genre-content__heading {
    font-size: var(--h2);
}

.genre-content__quote {
    font-size: var(--h5);
    font-style: italic;
    color: var(--secondaryTextColor);
}