.main-gallery {
    max-width: 1100px;
    margin: 3rem auto 0 auto;
}

.gallery {
    max-width: 70vw;
    gap: 50px;
    margin: 1.5rem auto 1rem auto;
    list-style: none;
}

.photo-block {
    margin: 0 auto;
}

.photo-block--feature {
    display: grid;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photo-block__img {
    max-width: 100%;
    height: 40rem;
    object-fit: contain;
    border-radius: 2px;
    /*filter: brightness(99%);*/
    /*transition: filter 0.5s ease;*/
}

.photo-block__img--feature {
    max-height: 70vh;
    max-width: 80vw;
    object-fit: contain;
    margin: 0 auto;
}

.photo-block__img:hover {
    /*filter: brightness(110%);*/
    /*transform-origin: 50% 50%;*/
    /*cursor: pointer;*/
}

.photo-info {
    /*font-size: var(s);*/
}

.photo-info__title {
    font-size: var(--h3);
}


.photo-block__date {
    /*margin: 1rem 0 0;*/
}




.gallery-h1 {
    text-align: center;
    margin-bottom: 4.25rem;
}
.gallery-list {

}
.gallery-item {
    margin: 0.5rem auto;
    width: 100%;
}
.gallery-item:last-child {
    border-bottom: none;
}
.gallery-item .image-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80ch;
}
.gallery-item .image-block .block-details {
    margin: 1rem 0 0;
}
.gallery-item .image-block .block-details p {
    margin-bottom: 0;
    color: #333;
}
.gallery-item a {
    color: #212121;
}
.gallery-item a .gallery-photo {
    max-width: 100%;
    height: 40rem;
    object-fit: contain;
    border-radius: 2px;
    filter: brightness(99%);
    transition: filter 0.5s ease;
}
.gallery-item a .gallery-photo:hover {
    filter: brightness(105%);
    transform-origin: 50% 50%;
    cursor: pointer;
}
.image-grid {
    list-style: none;
    display: grid;
    /* fills amount of cols atuomatically depending on space, but designates size for single col */
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 3px;
    max-width: 1100px;
    margin: 1rem auto 3rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.image-grid .image-container {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 2px;
}
.image-grid .image-container a .grid-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    transform-origin: 50% 50%;
    filter: brightness(99%);
    transition: filter 0.5s ease;
}
.image-grid .image-container a img:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 0px 2px #000;
    transform-origin: 50% 50%;
    cursor: pointer;
}
.image-grid .image-container a:focus img {
    border: 3px solid #07c;
}

.full-photo-img  {


}

.showcase-img {

}

.image-description h1 {
    font-size: var(--h3);
}