:root {
    --baseFontSize: 1em;
    --h1xl: 4em;
    --h1: 3em;
    --h2: 2.441em;
    --h3: 1.953em;
    --h4: 1.563em;
    --h5: 1.25em;
    --smallText: 0.9em;
    --xsmallText: 0.2em;
    --headingFontFamily: ivymode;
    --bodyFontFamily: le-monde-livre-std;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.15rem;
    max-width: 40em;
    font-weight: normal;
}

a {
    color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headingFontFamily);
    font-weight: 400;
    line-height: 1.15;
}

.text_small {
    font-size: var(--smallText);
}

.text_xsmall {
    font-size: var(--xsmallText);
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.3rem;
}

@media (max-width: 900px) {
    :root {
        --baseFontSize: 0.8em;
    }
}