---
eleventyNavigation:
    key: About
    order: 4
title: About | Outside the Frame
desc: About page for Outside the Frame | Tom Caraher
url: https://outsidetheframe.photography
img: /images/meta-img.jpg
alt: Photograph of a Fjord in Norway with a small dock and mountains in the background.
---

{% include "baseHead.njk" %}

<body>
    {% include "header.njk" %}

    <main class="flex">
        <article class="flex--col flex">
            <h1>About</h1>
            <p>Hi, my name is Tom Caraher and I am an amateur photographer based in County Kilkenny, Ireland. My full
                time job is working as a freelance musician, but I am also a postgraduate student in Computer Science at
                SETU in Waterford, Ireland, and I make websites</p>
            <p>Outside the Frame is my photography portfolio, showcasing selected images from my collection of
                photographs (reminder - amateur!) going back to 2013. I have been lucky enough to travel to over 40
                countries around the world, and many of those places are showcased here. Street, landscape, and
                documentary photography are my primary areas of interest.</p>
            <p>All photos are shot with either my trusty original FujiFilm x100, or whatever iPhone I had at the time.
                My very limited gear has presented a number of interesting challenges, but sticking with it and really
                getting used to the fixed focal lengths of these cameras has been a great educational experience I feel.
                Maybe some day I’ll get a big boy camera. </p>
            <p>I hope you enjoy some of the images here.</p>
        </article>
    </main>
    {% include "footer.njk" %}

</body>