<!DOCTYPE html>
  <head>
  {% include "baseHead.njk" %}
  <title>Home Page</title>
</head>
  <body>
    {% include "header.njk" %}
    <main>
        <div>
          
        </div>
        {% include "home-gallery.njk" %}

    </main>
    {% include "footer.njk" %}
  </body>
