---
pageTitle: Landscape Photography
slugPrefix: landscape
eleventyNavigation:
    key: Landscape
---

{% include "baseHead.njk" %}

<body>
    {% include "header.njk" %}
    <blockquote class="genre-content flex--center">
        "I believe the world is incomprehensibly beautiful - an endless prospect of magic and wonder." - Ansel Adams
    </blockquote>
    {% include "page-gallery.njk" %}
</body>