---
layout: layout.njk
pagination:
    data: gallery
    size: 1
    alias: image
permalink: "/{{image.tag}}/{{ image.title | slug }}/"
---

<div class="showcase__photo-block flex flex--col">
    {% img
        src=image.src,
        alt=image.alt,
        className="showcase__img",
        sizes="(max-width: 480px) 90vw, (min-width: 640px) 90vw, (min-width:800px) 90vw,90vw" %}
    <div class="showcase__info">
        <h1 class="photo-info__title">{{ image.title }}</h1>
        <p class="photo-block__date">{{ image.date }}</p>
        <p class=""> {{ image.location }} </p>
    </div>
</div>

