---
pageTitle: Street Photography
slugPrefix: street
eleventyNavigation:
    key: Street
---

{% include "baseHead.njk" %}

<body>
    {% include "header.njk" %}
    <main>
    <div class="genre-content flex--center">
    <blockquote >“Photography is, for me, a spontaneous impulse coming from an ever attentive eye which captures the moment and its eternity.” - Henri Cartier-Bresson
    </blockquote>
    </div>
    {% include "page-gallery.njk" %}
    </main>
</body>