---
layout: layout.njk
pageTitle: Street Photography
slugPrefix: street
eleventyNavigation:
    key: Street
    order: 2
title: Street Photography | Outside the Frame
desc: Street Photography by Tom Caraher
url: https://outsidetheframe.photography
img: /images/meta-img-2.jpg
alt: Photograph of a woman crossing a tram line in Hong Kong.
---

<div class="genre-content flex flex--center">
    <h1 class="genre-content__heading">Street Photography</h1>
    <blockquote class="genre-content__quote">“Photography is, for me, a spontaneous impulse coming from an ever
        attentive eye which captures
        the moment and its eternity.” - Henri Cartier-Bresson
    </blockquote>
</div>
{% include "page-gallery.njk" %}
